<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>马蜂窝后台管理界面</title>
	<link rel="stylesheet" type="text/css" href="/css/admin/index.css">
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>
<body>
	<div class="bg">
		<div class="title">这是后台管理界面</div>
		<div class="body">
			<div class="left_content">
				<p class="selet_item">1</p>
				<p class="selet_item">2</p>
				<p class="selet_item">3</p>
			</div>
			<div class="right_content">
				右边
			</div>
		</div>
	</div>
</body>
</html>